* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  :root {
    --color-theme: #53adbe;
    --color-grey-first: #2d2e2e;
    --color-grey-second: #2b2c2c;
    --color-font: #a4a5a6;
  }
  
  li {
    list-style-type: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-font);
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  
  h2, h3 {
    font-size: 1.2rem;
    font-weight: 300;
  }
  
  p, a, pre {
    color: var(--color-font);
    font-size: 1rem;
  }

  b, strong {
    font-weight: bolder;
  }
  
  address {
    font-style: normal;
    color: var(--color-font);
  }
  
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  
  .subtitle {
    font-size: 0.75rem;
    font-weight: 300;
    font-size: 15px
  }

  .passe-partout {
    width: 170px;
    padding: 7px;
    background: var(--color-grey-first);
    border: 2px solid var(--color-font);
    box-shadow: -6px -6px var(--color-font);
   }
  
  .header {
    height: 380px;
    width: 100%;
  }
  
  .header .header__bg--left {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 0;
    background-color: var(--color-grey-second);
  }
  
  .header .header__bg--right {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
    background-color: var(--color-grey-first);
    top: 0;
    right: 0;
  }
  
  .header .header__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__contacts-item p a {
    color: var(--color-theme);
    font-size: 1rem;
  }

  .header__contacts-item h4 a {
    color: var(--color-theme);
    font-size: 1rem;
  }
  
  .header .header__container .header__inner--left {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0rem 1.75rem 0rem;
    background-color: var(--color-grey-second);
    z-index: 2;
  }
  
  .header .header__container .header__inner--right {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.75rem 1.75rem 0rem;
    background-color: var(--color-grey-first);
    z-index: 2;
    position: relative;
  }
  
  .header .header__container .header__inner--right span {
    color: var(--color-theme);
    font-size: 50px;
  }
  
  .header .header__container .header__inner--right .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.75rem 1.75rem 1.75rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .header .header__container .header__inner--right .header__contacts::before {
    content: '';
    width: calc(100% - 3.5rem);
    height: 1px;
    background-color: var(--color-font);
    position: absolute;
    top: 0;
  }
  
  .main .about-me {
    position: relative;
  }
  
  .main .about-me .about-me__bg--left {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 0;
    background-color: var(--color-grey-first);
  }
  
  .main .about-me .about-me__bg--right {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
    background-color: var(--color-grey-second);
    top: 0;
    right: 0;
  }
  
  .main .about-me .about-me__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .main .about-me .about-me__container .about-me__inner--left {
    width: 30%;
    z-index: 2;
    padding: 1.75rem 1.75rem 1.75rem;
    text-align: right;
  }
  
  .main .about-me .about-me__container .about-me__inner--right {
    width: 70%;
    z-index: 2;
    background-color: var(--color-grey-second);
    padding: 1.75rem 1.75rem 1.75rem;
  }
  
  .skills {
    position: relative;
  }
  
  .skills .skills__bg--left {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 0;
    background-color: var(--color-grey-second);
  }
  
  .skills .skills__bg--right {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
    background-color: var(--color-grey-first);
    top: 0;
    right: 0;
  }
  
  .skills .skills__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .skills .skills__container .skills__inner--left {
    width: 30%;
    background-color: var(--color-grey-second);
    z-index: 2;
    padding: 1.75rem 1.75rem 1.75rem;
    text-align: right;
  }
  
  .skills .skills__container .skills__inner--right {
    width: 70%;
    background-color: var(--color-grey-first);
    z-index: 2;
    padding: 1.75rem 1.75rem 1.75rem;
  }
  
  .skills .skills__container .skills__inner--right .skills__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  
  .skills .skills__container .skills__inner--right .skills__grid .skills__box {
    padding-bottom: 0.75rem;
  }
  
  .skills .skills__container .skills__inner--right .skills__grid .skills__box h4 {
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .skills .skills__container .skills__inner--right .skills__grid .skills__box p {
    color: var(--color-theme);
  }
  
  .skills .skills__container .skills__inner--right .skills__grid .skills__box .skills__bar {
    width: 90%;
    height: 8px;
    background-color: var(--color-font);
  }
  
  .code-example {
    position: relative;
  }
  
  .code-example .code-example__bg--left {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 0;
    background-color: var(--color-grey-first);
  }
  
  .code-example .code-example__bg--right {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
    background-color: var(--color-grey-second);
    top: 0;
    right: 0;
  }
  
  .code-example .code-example__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .code-example .code-example__container .code-example__inner--left {
    width: 30%;
    background-color: var(--color-grey-first);
    z-index: 2;
    padding: 1.75rem 1.75rem 1.75rem;
    text-align: right;
  }
  
  .code-example .code-example__container .code-example__inner--right {
    width: 70%;
    background-color: var(--color-grey-second);
    z-index: 2;
    padding: 1.75rem 1.75rem 1.75rem;
  } 
  
  .code-example .code-example__container .code-example__inner--right pre {
    background-color: var(--color-font);
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    color: var(--color-grey-second);
  }
  
  .code-example .code-example__container .code-example__inner--right pre code {
    font-size: 0.85rem;
    font-family: 'Anonymous Pro', monospace;
  }
  
  .education {
    position: relative;
  }
  
  .education .education__bg--left {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 0;
    background-color: var(--color-grey-second);
  }
  
  .education .education__bg--right {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
    background-color: var(--color-grey-first);
    top: 0;
    right: 0;
  }
  
  .education .education__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .education .education__container .education__inner--left {
    width: 30%;
    background-color: var(--color-grey-second);
    z-index: 2;
    padding: 1.75rem 1.75rem 1.75rem;
    text-align: right;
  }
  
  .education .education__container .education__inner--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    background-color: var(--color-grey-first);
    z-index: 2;
    padding: 1.75rem 1.75rem 1.75rem;
  }
  
  .education .education__container .education__inner--right .education__university {
    width: 50%;
  }
  
  .lenguage {
    position: relative;
  }
  
  .lenguage .lenguage__bg--left {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 0;
    background-color: var(--color-grey-first);
  }
  
  .lenguage .lenguage__bg--right {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
    background-color: var(--color-grey-second);
    top: 0;
    right: 0;
  }
  
  .lenguage .lenguage__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .lenguage .lenguage__container .lenguage__inner--left {
    width: 30%;
    background-color: var(--color-grey-first);
    z-index: 2;
    padding: 1.75rem 1.75rem 1.75rem;
    text-align: right;
  }
  
  .lenguage .lenguage__container .lenguage__inner--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    background-color: var(--color-grey-second);
    z-index: 2;
    padding: 1.75rem 1.75rem 1.75rem;
  }

  .lenguage .lenguage__container .lenguage__inner--right .lenguage__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }

  .lenguage .lenguage__container .lenguage__inner--right .lenguage__grid .lenguage__box {
    padding-bottom: 0.75rem;
  }
  
  .lenguage .lenguage__container .lenguage__inner--right .lenguage__grid .lenguage__box h4 {
    text-transform: uppercase;
    font-weight: 400;
  }

  .lenguage .lenguage__container .lenguage__inner--right .lenguage__grid .lenguage__box h5 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--color-theme);
  }
